.credits {
    font-size: var(--font-size-regular-paragraph);
    line-height: 26px;
    color: var(--color-dove-gray);
}

.credits__span {
    background: linear-gradient(90deg, var(--color-dodger-blue) -2.06%, var(--color-schoker-pink) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media (max-width: 980px) {
    .credits {
        font-size: var(--font-size-small-paragraph);
        text-align: center;
    }
}
